.blog-wrap{
    max-width: 700px;
    margin: 0 auto;
    margin-top: 60px;
}

.blog-goBack {
    position: fixed;
    top: 80px; /* Adjust as needed */
    left: 20px;
    z-index: 999;
    /* background-color: rgba(255, 255, 255, 0.8); */
    padding: 10px 20px;
    border-radius: 5px;
  }
  

  


  
  .blog-wrap {
    margin-top: 60px; /* Adjust to give space for the Go Back button */
  }
  
.blog-wrap header{
    text-align: center;
}
.blog-date {
    font-size: .8rem;
    color: #a9a9a9;
    font-weight: 500;
}
.blog-wrap img {
    width: 100%;
}
.blog-subCategory{
    display: flex;
    justify-content: center;
}
.blog-subCategory > div {
    margin: 1rem;
}
.blog-desc {
    padding: 1 rem;
    margin-top: 1.5rem;
}